<!DOCTYPE html>
{% extends '../TinDev/nonNavBase.html' %} {%block content %} {% block posts %}
{% if posts %}
<div class="container">
  {% for post in posts %}
  <div class="row">
      <div class="col">
        <h4>{{ post.position }}: {{ post.company }}</h4>
      </div>
      <div class="col">
        Description: {{ post.description }}
      </div>
      <div class="col">
        Part/Full: {{ post.type }}
      </div>
      <div class="col">
        Location: {{ post.location }}
      </div>
      <div class="col">
        Skills: {{ post.skills }}
      </div>
      <div class="col">
        <a href="/posts/update/{{ post.pk }}">Update</a>
        <a href="/posts/delete/{{ post.pk }}">Delete</a>
      </div>
      {% if showInterested %}
      <ul>
          <div class="col">
            {% for user in post.interest.all %}
            <li>Name of Interested User: {{user.name}}</li>
            <li>Username of Interested User: {{user.username}}</li>
        {% endfor %}
          </div>
      </ul>
      {% endif %}
    </ul>
  {% endfor %}
</div>
{% endif %} {% endblock %} {% endblock %}
