{% block posts %}

{% if posts %}
{% for post in posts %}
    <h4>{{ post.position }}: {{ post.company }}</h4>
    <ul>
        <li>Description: {{ post.description }}</li>
        <li>Part/Full: {{ post.type }}</li>
        <li>Location: {{ post.location }}</li>
        <li>Skills: {{ post.skills }}</li>
        <li><a href="/posts/update/{{ post.pk }}">Update</a></li>
        <li><a href="/posts/delete/{{ post.pk }}">Delete</a></li>
        {% if showInterested %}
        <li>Interested Users</li>
            <ul>
                {% for user in post.interest.all %}
                 <li>{{user.name}}</li><a href="/offer/{{post.id}}/{{user.id}}/"><button>Offer {{user.name}}</button></a>
                {% comment %} <li>Username of Interested User: {{user.username}} </li> {% endcomment %}
                {% endfor %}
            </ul>
        {% endif %}
    </ul>
{% endfor %}
{% endif %}
{% endblock %}