{% block posts %}
{% load post_extras %}
{% if posts %}
<div class="container">
  {% for post in posts %}
  <div class="card" style="margin: 10px;">
    <div class="card-header">{{ post.position }}: {{ post.company }}</div>
    <div class="row card-text" style="padding-top: 10px; padding-bottom: 10px;">
      <div class="col" style="padding-left: 40px">
        <b>Description: </b>{{ post.description }}
      </div>
      <div class="col"><b>Part/Full: </b>{{ post.type }}</div>
      <div class="col"><b>Location: </b>{{ post.location }}</div>
      <div class="col"><b>Skills: </b>{{ post.skills }}</div>
    </div>
      {% if showInterested %}

        <div class="dropdown" style="margin: 5px;">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make an Offer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            {% for user in post.interest.all %}
            <a class="dropdown-item" href="/offer/{{ post.id }}/{{ user.id }}/">{{ user.name }} | Score: {{ scores|dict_get:post.id|dict_get:user.id }} </a>
            {% endfor %}
          </div>
        </div>
    {% endif %}
    {% if not showInterested %}
    <div class="card-footer">
      <a class="btn btn-primary float-left" href="/posts/update/{{ post.pk }}">Update</a>
      <a class="btn btn-danger float-right" href="/posts/delete/{{ post.pk }}">Delete</a>
    </div>
    {% endif %}
  </div>

{% endfor %}
</div>
{% endif %} {% endblock %}
