{% extends '../TinDev/login_base.html' %} {% block content %}

<div class="row" style="padding-top: 10px">

    <div class="col-md-8"><h2>Welcome Back, {{ user.name }}</h2></div>

    {% comment %} TODO: Make look prettier {% endcomment %}
    <div class="col-md-4">
        <div class="dropdown">
            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View Job Postings
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/user/dashboard/all">Show All Posts</a>
                <a class="dropdown-item" href="/user/dashboard/active">Show Active Posts</a>
                <a class="dropdown-item" href="/user/dashboard/inactive">Show Inactive Posts</a>
            </div>
        </div>
    </div>
</div>


        If you would like to filter jobs based on location then enter a location in the text box <br>
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" >
        <button onclick="myFunction()">Filter Location</button>
        <br>
        <br>
        If you would like to filter jobs based on the jobs description then enter any description in the text box <br>
        <label for="Description">Description:</label>
        <input type="text" id="Description" name="Description" >
        <button onclick="myFunction1()">Filter by Description</button>

        <br>
        <br>
        </ul>

        <script>
            function myFunction() {
                filter_location = document.getElementById("location").value;
                console.log(filter_location);
                window.location.href=`/user/dashboard/location/${filter_location}`;

            }
            function myFunction1() {
                filter_des = document.getElementById("Description").value;
                window.location.href=`/user/dashboard/Description/${filter_des}`;

            }
        </script>
{% endblock %}