<!DOCTYPE html>
{% extends '../TinDev/base.html' %} {%block content %}
<html>
  <html>
    <head>
      <meta charset="utf-8" />
      <title></title>
      <link rel="stylesheet" href="" />
    </head>
    <body>
      <h2>Login</h2>
      {% comment %} Add some error message if error is defined {% endcomment %}
      <div class="form-group">
        <form action="{{ user_type }}" method="post">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="Login" />
        </form>
      </div>
      {% if messages %}
        <ul class="messages">
          {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red">{{ message }}</p>
          {% endfor %}
        </ul>
      {% endif %}
    </body>
  </html>
  {% endblock %}
</html>
