<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Current Offers:</h1>
        {% for offer in offers %}
            <h3>{{ offer.post.company }}: {{offer.post.position}}</h3>
            <ul>
                <li>Salary: ${{ offer.salary }}</li>
                <li>Expires: {{ offer.expiration }}</li>
                <li>Status: {{ offer.status }}</li>
                {% if offer.id in expired %}
                <li>Expired: True</li>
                {% else %}
                <li>Expired: False</li>
                <li>
                    <form action="/offer/decision/{{ offer.id}}/accept/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Accept">
                    </form>
                </li>
                <li>
                    <form action="/offer/decision/{{ offer.id }}/reject/" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Reject">
                    </form>
                </li>
                {% endif %}
            </ul>
        {% endfor %}
    </body>
</html>