<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block greeting %}<h2>Welcome Back, {{ user.name }}</h2>{% endblock %}

        <a href="/posts/create"><button>Create New Job</button></a>
        <a href='/user/logout'><button>Logout</button></a>

        {% comment %} TODO: Make look prettier {% endcomment %}
        <ul>
            <li><a href="/user/dashboard">All Posts</a></li>
            <li value="active"><a href="/user/dashboard/active">Active posts only</a> </li>
            <li value="inactive"><a href="/user/dashboard/inactive">Inactive posts only.</a></li>
            <li value="interest"><a href="/user/dashboard/interest">Posts with at least 1 interested candidates</a></li>
        </ul>

        {% include "../Posts/posts.html" %}
    </body>
</html>