<!DOCTYPE html>
{% extends '../TinDev/nonNavBase.html' %} {%block content %}
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="" />
  </head>
  <body>
    <div style="background-color: #275dad">
      <br />
      <a
        type="button"
        class="btn btn-info btn-lg"
        href="/posts/create"
        style="margin-left: 20px"
        >Create New Job</a
      >
      <a
        href="/user/logout"
        type="button"
        class="btn btn-outline-light btn-lg"
        style="margin-left: 10px"
        >Logout</a
      >
      {% block greeting %}
      <h2 style="text-align: center; color: WHITE">
        Welcome Back, {{ user.name }}
      </h2>
      {% endblock %}

      <br />
    </div>
    <ul class="nav justify-content-center" style="background-color: #fcf7f8">
      <li class="nav-item">
        <a class="nav-link" href="/user/dashboard"
          >All Posts <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item" value="active">
        <a class="nav-link" href="/user/dashboard/active">Active Posts Only</a>
      </li>
      <li class="nav-item" value="inactive">
        <a class="nav-link" href="/user/dashboard/inactive"
          >Inactive Posts Only</a
        >
      </li>
      <li class="nav-item" value="interest">
        <a class="nav-link" href="/user/dashboard/interest"
          >Posts With At Least 1 Interested Candidate</a
        >
      </li>
    </ul>
    {% comment %} TODO: Make look prettier {% endcomment %}
    <ul class="list-group"></ul>
    <br />
    {% include "../Posts/posts.html" %}
  </body>
</html>

{% endblock %}
